.infoTitle{
    font-size: 20px;
    font-family: "Press Start 2P", serif;
    color: white;
   /*  margin-bottom: 10px; */
}

.infoText{
    margin-top: -20px;
    width: 400px;
    height: auto;
}

.infoContainer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.infoPageContainer{
    width: 45vw;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: -50px;
}

.neonText {
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

@media screen and (max-width: 768px){
    .infoPageContainer{
        width: 90vw;
        height: auto;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: -50px;
    }

    .infoContainer{
        display: block;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 20px;
        padding-top: 50px;
    }
}