.slotPage{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction:column;
    width: 55vw;
    height:90vh;
    font-size: 15px;
}

.slotContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: auto;
    border-radius: 15px;
    /* background-color: black; */
    /* border: 3px solid #535bf2; */
    
}

.templateContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height:calc(auto + 50px);
    /* background-color: #da0808; */
    border-radius: 5px;
}

.slotsSection{
    display: flex;
   /*  padding: 13px; */
    justify-content: center;
    border-radius: 5px;
    z-index: 8;
}

.winLine{
    position:fixed;
    z-index: 99;
    background-color: #535bf2;
    height: 75px;
    width: 250px;
    background: linear-gradient(180deg, #2c34c7 50%, rgb(47, 0, 255) 25%, rgba(83, 91, 242, 0) 100%);
}

.winLine2{
    margin-top: 170px;
    position:fixed;
    z-index: 99;
    background-color: #535bf2;
    height: 80px;
    width: 250px;
    background: linear-gradient(360deg, #2c34c7 50%, rgb(47, 0, 255) 25%, rgba(83, 91, 242, 0) 100%);
}

/* .winLine{
    position: absolute;
    z-index: 99;
    border: 1px solid #2c34c7;
    width: 300px;
} */

.message {
    position: absolute;
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    margin-top: -280px;
}

.credits {
    position:relative;
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    margin-top: -8px;
}

.low{
    color: #abff96;
}

.higth{
    color: #fffc37;
}

.lose{
    color: rgb(255, 174, 174);
}

.slotButton{
    font-size: 15px;
    border-style: none;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    width: 150px;
}



.disabled{
    display: block;
    cursor:auto;
    background-color: #232994;
    color: #2c34c7;
}

.initialTemplateContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height:240px;
    background-color: #ff0101;
    border-radius: 5px;
    z-index: 999;
}

.initialSlotsSection{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 3px;
    justify-content: center;
    align-items: center;
    border: 3px solid #2c34c7; 
    border-radius: 5px;
    z-index: 99;
    background-color: #535bf2;
}

.buttonSection{
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondaryButton{
    z-index: 999;
    width: 80px;
    font-size: 15px;
    margin-left: 10px;
}

.neonText {
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

@media screen and (max-width: 768px){
    .slotPage{
        display: flex;
        justify-content: flex-start;
        align-items:center;
        flex-direction:column;
        width: 55vw;
        height:500px;
        font-size: 15px;
        margin-top: 30px;
    }
}
 